<!DOCTYPE html>
<html>
  <head>
    <title>HackParaSerMulher</title>
  </head>

  <body>
    <p style="font-size: 30px; background: #c07dd1">
     <%= link_to 'Artigo', articles_path %>
     <%= link_to 'Autor', authors_path %>
     <%= link_to 'Home', root_path %>
    </p> 
    <%= yield %>
    <p style="color:#c07dd1;position: absolute;
    bottom: 30px;
    width: 100%;"> <strong> Time - Jessica Jones </strong> <br>
    <br> Ming <br>
    Fernanda <br>
    Tassia <br>
    Karol <br>
    Raquel <br>

    <strong> <br> Tutoras </strong> <br>
    Stefanie <br>
    Gabriela </p>

  </body> 
</html>
