<!DOCTYPE html>
<html>
  <head>
    <title>HackParaSerMulher</title>
  </head>

  <body>
    <p>
     <%= link_to 'Artigo', articles_path %>
     <%= link_to 'Autor', authors_path %>
     <%= link_to 'Home', root_path %>
    </p> 
    <%= yield %>
  </body>
</html>
